.App {
  text-align: center;
  background-color: rgb(44,9,9);
  min-height: 15vh;
}

.App-head {
    display: block;
    flex-direction: row;
    align-items: center;
    color: rgb(0,0,0);
}

.logo {
    weight: 60px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 22px;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid black; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /*Параметры тени*/
}

.App-links {
   display: flex;
   justify-content: space-between;
   font-weight: bold;
   color: rgb(139,117,67);
}

.nameHotel {
    color: rgb(139,117,67);
    font-size: 12px;
    position: absolute;
    left: 20px;
    margin-top: 20px;
    font-weight: bolder;
    background-color: linear-gradient(rgb(51,17,17),rgb(62,30,30));
}